# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.jar
*.war
*.ear

# IDEs
.classpath
.project
.settings/
.idea/
*.iml
.vscode/

# Logs
*.log
logs/

# H2 Database
*.db
*.mv.db

# OS
.DS_Store
Thumbs.db
